.testata{
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    padding: 10px;
    position: relative;
}

#logo-booleaner{
    height: 40px;
    position: absolute;
    top: 50px;
}

.titoli{
    line-height: 10px; 
}


h1{
    margin-top: 10px;
    
}

h2{
    color: #818181;
}

h3{
    color: #818181;
}

.autore{
    color: #4cb9e9;
}

.head-row{
    background: #4cb9e9;
    color: white;
}

.body-row1{
    background-color: #b1e5f2;
}

.body-row2{
    background-color: white;
}

.body-row3{
    background-color: #b1e5f2;
}


